<div class="contenedor">
  <section id="inicio" class="inicio">
    <div class="contenido-banner">
      <div class="contenedor-img">
        <img src="assets/img/foto.jpg" alt="Hero Image" class="img">
      </div>
      <h1>Leodanis Miranda</h1>
      <h2>Desarrollador Front end en Angular </h2>
      <div class="redes">
        <a routerLink="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>
        <!--a routerLink="#"><i class="fa-brands fa-instagram"></i></a-->
        <a routerLink="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
</section>
</div>

  
 